body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
aside{
    background-color: lime;
    height: 100vh;
}
main{
    background-color: magenta;
    height: 100vh;
}

h3{
    margin-bottom: 0;
}

.projects h3 {
    padding-left: 1em;
}

ul{
    list-style-type:none;
}


.icon{
    height: 2em;
    margin-right: 5px;
}

.grid-body{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.flex-spacebt{
    display: flex;
    justify-content: space-between;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}

.actions-list{
    padding: 1em;
}

.actions-list button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: none;
}


.actions-list button:hover{
    background-color: lightgreen;
    border-radius: 5px;
    color: blue;
}
