.sectionContent{
    padding: 20px 20px 0px 20px;
}
.headerContent{
    color: darkred;
    padding: 1em;
    font-size: 2em;
}
.info-message{
    color: dimgray;
    font-size: 1.25em;
    padding: 20px;
}

.task{
    padding: 10px;
    border-top: solid grey 1px;
}

.project-panel{
    font-size: 1.5em;
    padding-left: 25px;
}
.project-panel:hover{
    color: darkgreen;
    text-shadow: grey;
}

.flex-task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-task-name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 20px 5px;
    
}
.flex-task-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 0.75em;
    color: dimgray;
    width: 50%;
}

.task-details{
    padding: 5px 20px;
}

.flex-task-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.flex-task-btns button{
    padding: 5px;
    width: 100px;

}

.flex-task-btns button:hover{
    background-color: lightslategrey;
    color: whitesmoke;
}

.circle-task{
    border-radius: 1em;
    width: 1em;
    height: 1em;
    border: solid pink 2px;
    margin-right: 20px;
}
.task-high-priority{
    border: solid red 2px;
}
.task-medium-priority{
    border: solid orange 2px;
}
.circle-task:hover{
    background-color:lightgreen;
    border: solid green 2px
}

.marked{
    background-image: url(./icons/check-circle.svg);
    background-size: 2em;
    background-position: center;
    border-radius: 1em;
    width: 1em;
    height: 1em;
    border: solid darkgreen 2px;
    margin-right: 20px;
    background-color:lightgreen;
}

#sectionContent+div{
    border-top: solid grey 1px;
}

#sectionContent~div{
    margin-left: 20px;
    margin-right: 20px;
}

.visible{
    visibility: visible;
    height: auto;
}

.hidden{
    visibility: hidden;
    height: 0px;
}

#newTodoBtnPanel, #newProjectBtnPanel{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    padding: 5px 15px 5px 0px;
    background-color: transparent;
    border: none;
}
#newTodoBtnPanel:hover, #newProjectBtnPanel:hover {
    border-radius: 5px;
    border: solid lightgreen 2px;
    color: green;
}
