/*Modal and form*/
.itemModal{
    border-radius: 10px;
}

.itemForm{
    display: grid;
    grid-template-columns: minmax(1fr, 250px) 1fr;
    gap: 0.5em
}

form legend, form p{
    grid-column: 1/3;
}
.notesModal{
    grid-column: 1/3;
    justify-content: space-around;

}

form p {
    margin-bottom: 0;
}

form button{
    margin-top: 2em;
}
dialog button{
    background-color: lightgreen;
}

dialog button:hover{
    border-radius: 5px;
    border: solid lightgreen 2px;
    color: green;
}

.wrap-overflow{
    max-width: 250px;
    flex-wrap: wrap;
}